.App {
  background-image: url('./components/icons/Mountains.jpg');
  background-size:cover;
  background-position: top;
  color: #fff0f0;
  margin: auto;
  padding: 10px;
  margin-top: 20vh;
  text-align: center;
  width: 400px;
  border-radius: 15px;
 
}



body {
  background-color: #89B5AF;
}



.icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right;
}

.icon-list ul li {
  list-style: none;
  text-align: left;
  padding-top: 10px;
  
}

.icon-list  img {
  width: 150px;
}


button{
  align-items: center;
  color: #E8FFC2;
  background-color: #0E185F;
  border-radius: 10%;
  border: none;
  height: 30px;
  margin: 20px;
  opacity: 80%;
  width: 40px;
  
  
}